<ion-header>
    <ion-toolbar>
        <ion-title>
            {{bank ? 'Añadir Oficina' : 'Añadir Oficina'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios,core">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form #officeForm="ngForm" (ngSubmit)="save(officeForm.value)">
        <input type="hidden" name="href" [(ngModel)]="office.href">
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-item>
                        <ion-input placeholder="Nombre de la oficina" name="nombre" type="text" required [(ngModel)]="office.nombre"
                            #name></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Banco</ion-label>
                        <ion-select #name name="Id_Banco" [(ngModel)]="office.Id_Banco">
                            <ion-option *ngFor="let bank of banks" [value]="bank.id_Banco">{{bank.nombre}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-input placeholder="Direccion de la oficina" name="direccion" type="text" required
                            [(ngModel)]="office.direccion" #name></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input placeholder="Horario de oficina" name="horario" type="text" required [(ngModel)]="office.horario"
                            #name></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div *ngIf="error" class="alert alert-danger">Ha ocurrido un error</div>
                <button ion-button color="primary" full type="submit" [disabled]="!officeForm.form.valid">Save</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>